<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	
	<!-- Data Source Declaration, kapselDS defined with WildFly WebConsole -->
    <jee:jndi-lookup id="dataSource" jndi-name="java:/jdbc/kapselDS"/>
	
	<!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>
 
    <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
       <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
	
	<!-- Session Factory Declaration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
            <list>
            	<!-- Core -->
                <value>de.kapsel.auftrag.entities.Auftrag</value> <!-- Without this, Auftrag is unknown entity -->
                <value>de.kapsel.auftrag.entities.ProduktWrapper</value>
                <value>de.kapsel.kunde.entities.Kunde</value>
                <value>de.kapsel.kunde.entities.KGruppe</value>
                <value>de.kapsel.produkt.entities.Produkt</value>
                <value>de.kapsel.produkt.entities.Bauteil</value>
                <value>de.kapsel.produkt.entities.Material</value>
                <value>de.kapsel.produkt.entities.Arbeitsschritt</value>
                <value>de.kapsel.produkt.entities.Werkzeug</value>
                <!-- Utils/Globals -->
                <value>de.kapsel.global.entities.User</value> 
                <value>de.kapsel.global.entities.Adresse</value>
                <value>de.kapsel.global.entities.Utils</value>
            </list>
        </property>
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.hbm2ddl.import_files">import.sql</prop>
                <prop key="hibernate.hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</prop>
                <prop key="hibernate.connection.useUnicode">true</prop>
                <prop key="hibernate.connection.characterEncoding">UTF-8</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
            </props>
        </property>
    </bean>
    
	
	<!-- KUNDE DECLARATION -->
	<!-- Service Declaration -->
	<bean id="kundeService" class="de.kapsel.kunde.services.KundeService">
		<property name="kundeDAO" ref="kundeDAO" />
	</bean>
	<!-- DAO Declaration -->
	<bean id="kundeDAO" class="de.kapsel.kunde.dao.KundeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	<!-- AUFTRAG DECLARATION -->
	<bean id="auftragService" class="de.kapsel.auftrag.services.AuftragService">
		<property name="auftragDAO" ref="auftragDAO" />
	</bean>
	<bean id="auftragDAO" class="de.kapsel.auftrag.dao.AuftragDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="produktWrapperService" class="de.kapsel.auftrag.services.ProduktWrapperService">
		<property name="produktWrapperDAO" ref="produktWrapperDAO" />
	</bean>
	<bean id="produktWrapperDAO" class="de.kapsel.auftrag.dao.ProduktWrapperDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    	
    
	<!-- KUNDENGRUPPE DECLARATION -->
	<bean id="kgruppeService" class="de.kapsel.kunde.services.KGruppeService">
		<property name="kgruppeDAO" ref="kgruppeDAO" />
	</bean>
	<bean id="kgruppeDAO" class="de.kapsel.kunde.dao.KGruppeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- PRODUKT DECLARATION -->
	<bean id="produktService" class="de.kapsel.produkt.services.ProduktService">
		<property name="produktDAO" ref="produktDAO" />
	</bean>
	<bean id="produktDAO" class="de.kapsel.produkt.dao.ProduktDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- BAUTEIL DECLARATION -->
	<bean id="bauteilService" class="de.kapsel.produkt.services.BauteilService">
		<property name="bauteilDAO" ref="bauteilDAO" />
	</bean>
	<bean id="bauteilDAO" class="de.kapsel.produkt.dao.BauteilDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- MATERIAL DECLARATION -->
	<bean id="materialService" class="de.kapsel.produkt.services.MaterialService">
		<property name="materialDAO" ref="materialDAO" />
	</bean>
	<bean id="materialDAO" class="de.kapsel.produkt.dao.MaterialDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- ARBEITSSCHRITT DECLARATION -->
	<bean id="arbeitsschrittService" class="de.kapsel.produkt.services.ArbeitsschrittService">
		<property name="arbeitsschrittDAO" ref="arbeitsschrittDAO" />
	</bean>
	<bean id="arbeitsschrittDAO" class="de.kapsel.produkt.dao.ArbeitsschrittDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- WERKZEUG DECLARATION -->
	<bean id="werkzeugService" class="de.kapsel.produkt.services.WerkzeugService">
		<property name="werkzeugDAO" ref="werkzeugDAO" />
	</bean>
	<bean id="werkzeugDAO" class="de.kapsel.produkt.dao.WerkzeugDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
   	<!-- USER DECLARATION -->
	<bean id="userService" class="de.kapsel.global.services.UserService">
		<property name="userDAO" ref="userDAO" />
	</bean>
	<bean id="userDAO" class="de.kapsel.global.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- ADRESSE DECLARATION -->
	<bean id="adresseService" class="de.kapsel.global.services.AdresseService">
		<property name="adresseDAO" ref="adresseDAO" />
	</bean>
	<bean id="adresseDAO" class="de.kapsel.global.dao.AdresseDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
   	<!-- UTILS DECLARATION -->
	<bean id="utilsService" class="de.kapsel.global.services.UtilsService">
		<property name="utilsDAO" ref="utilsDAO" />
	</bean>
	<bean id="utilsDAO" class="de.kapsel.global.dao.UtilsDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
</beans>