<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 
 <display-name>KAPsel</display-name>
 
 <!-- Setting Timezone -->
 <context-param>
  <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
  <param-value>true</param-value>
 </context-param>
 
 <!-- Project Stage Level -->
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 
 <!-- Font Icons -->
 <context-param>
  <param-name>primefaces.FONT_AWESOME</param-name>
  <param-value>true</param-value>
 </context-param>
 
 <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
 </mime-mapping>
 <mime-mapping>  
    <extension>otf</extension>  
    <mime-type>font/opentype</mime-type>  
 </mime-mapping>      
 <mime-mapping>  
    <extension>ttf</extension>  
    <mime-type>application/x-font-ttf</mime-type>  
 </mime-mapping>      
 <mime-mapping>  
    <extension>woff</extension>  
    <mime-type>application/x-font-woff</mime-type>  
 </mime-mapping>
 <mime-mapping>  
    <extension>woff2</extension>  
    <mime-type>application/x-font-woff2</mime-type>  
 </mime-mapping>
 <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
</mime-mapping>
<mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
</mime-mapping>
<mime-mapping>
    <extension>msword</extension>
    <mime-type>application/msword</mime-type>
</mime-mapping>
  
 <!-- Spring Context Configuration' s Path definition -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/spring.xml</param-value>
 </context-param>
 
 <!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. It is registered to Servlet Container -->
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 </listener>
 
 <!-- JSF Servlet is defined to container -->
 <servlet>
  <servlet-name>facesServlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 
 <!-- Mapping with servlet and url for the http requests. -->
 <servlet-mapping>
  <servlet-name>facesServlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 
 <session-config>
  <session-timeout>120</session-timeout>
 </session-config>
 
 <error-page>
  <exception-type>javax.faces.application.ViewExpiredException</exception-type>
  <location>/views/home.xhtml</location>
 </error-page>

 <!-- Welcome Page -->
 <welcome-file-list>
  <welcome-file>/views/secure/index.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
