<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>KAPsel</display-name>

	<!-- Spring Context Configuration' s Path definition -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/spring.xml
         </param-value>
	</context-param>
	
	<context-param>
	    <param-name>primefaces.FONT_AWESOME</param-name>
	    <param-value>true</param-value>
	</context-param>
	
	<!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. It is registered to Servlet Container -->
    <listener>
    	<listener-class>
        	org.springframework.web.context.ContextLoaderListener
    	</listener-class>
    </listener>
    <listener>
    	<listener-class>
        	org.springframework.web.context.request.RequestContextListener
    	</listener-class>
    </listener>
	
	<!-- Project Stage Level -->
    <context-param>
    	<param-name>javax.faces.PROJECT_STAGE</param-name>
   		<param-value>Development</param-value>
    </context-param>

	<!-- Welcome Page -->
	<welcome-file-list>
		<welcome-file>home.xhtml</welcome-file>
	</welcome-file-list>

	<!-- JSF Servlet is defined to container -->
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Mapping with servlet and url for the http requests. -->
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<!-- Setting Timezone -->
	<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
	
</web-app>