@CHARSET "UTF-8";

body{
	background-color: #edfbfb;
}

#statusbox {   
    height:20px;
    padding:10px 20px 10px 10px;
    border:1px dashed black;
    float:right;
}

#header {
    border-color: #388EA6;
    color: #388EA6;
}

#nav {
	border-color:#388EA6;
    color:#388EA6;
    background-color: #dcf7f8;
}

#section{
	border-color:#388EA6;
    color:#388EA6;
}

.ui-accordion-content{
	background-color:#dcf7f8;
}

.ui-accordion .ui-accordion-header{
	
}

.ui-accordion-header.ui-state-active{
	background: linear-gradient(rgba(84,216,222, 0.2), rgba(84,216,222, 0.8));
}

.ui-accordion-header.ui-state-hover{
	background: linear-gradient(rgba(84,216,222, 0.2), rgba(84,216,222, 0.8));
}

.ui-dialog-titlebar{
	background: linear-gradient(rgba(84,216,222, 0.2), rgba(84,216,222, 0.8));
}

.ui-datatable-header {
	background: linear-gradient(rgba(84,216,222, 0.2), rgba(84,216,222, 0.8));
}

.bgRibbon{
	background: linear-gradient(rgba(84,216,222, 0.2), rgba(84,216,222, 0.8));
}

.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker{
	width: 155px;
}

#miniKListeDlg{
	width: 500px !important;
}

.ui-selectonelistbox{
	min-height: 250px;
	min-width: 450px;
}

.ui-picklist .ui-picklist-list{
	width:300px !important;
}

.ui-button-icon-left.ui-icon.ui-c.fa.fa-calculator{
	width: 30px;
	height: 30px;
	margin-left: -14px;
	margin-top: -8px;
}

.ui-button-icon-left.ui-icon.ui-c.fa.fa-user-plus{
	width: 30px;
	height: 30px;
	margin-left: -14px;
	margin-top: -8px;
}

