@CHARSET "UTF-8";

body {
	font-family: Trebuchet MS, Helvetica, Sans-serif;
	background-color:#ffffff;
}

.ui-widget {
	font-family: Trebuchet MS, Helvetica, Sans-serif;
}

.errorMessage{
	color: red;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 12px;"
}

.button_splash{
	height: 234px;
	width: 333px;
	padding: 0;
	border: none;
	background-color: #fff;
}

.centered{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.fullWidth{
	width: 100% !important;
	box-sizing: border-box;
}

.selectOneDT{
	box-sizing: border-box;
}

#header {
    color:black;
    text-align:center;
    padding:0px !important;
}

#middle {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

div[id="nav"] {
	line-height:30px;
    background-color:#eeeeee;
    min-width:500px;
    width:500px;
    padding: 5px !important;
    margin-right:2px;
}

div[id="section"] {
	width: 100%;
    padding: 0px !important;,
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

hr {
	color: #808080;
}

.ui-accordion-content{
	background-color: rgba(238, 238, 238, 0.7);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ui-accordion .ui-accordion-header{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	outline: none;
}

.bordered-frame{
	border:4px solid;
    border-radius: 10px;
    margin-top: 1px;
}

.ui-fieldset-legend.ui-state-default{
	padding: 5px 10px !important;
}

.ui-menuitem-icon.ui-icon.fa{
	padding-right: 5px;
}

a:-webkit-any-link {
	color: #4f4f4f;
	text-decoration: none;
}

a:hover{
	color: #4ca6ff;
}



.ui-state-hover a:hover{
	color: #4ca6ff;
}

.ui-widget-content .ui-state-highlight a{
	color: #4ca6ff;
}
