@CHARSET "UTF-8";

.statusbox {   
    height:20px;
    padding:10px;
    border:1px dashed black;
    float:right;
}

.alignRight {
	float:right;
}

body{
	background-color: #f0f0fc;
}

#header {
    border-color:#9898eb;
    color: #578BC9;
}

#nav {
	border-color:#9898eb;
    background-color:#eaeafb;
}

#section{
	border-color:#9898eb;
    background-color:#eeeeee;
}

.ui-accordion-content{
	background-color:#eaeafb;
}

.ui-accordion .ui-accordion-header{
	
}

.ui-accordion-header.ui-state-active{
	background: linear-gradient(rgba(170,170,238, 0.2), rgba(170,170,238, 0.6));
}

.ui-accordion-header.ui-state-hover{
	background: linear-gradient(rgba(170,170,238, 0.6), rgba(170,170,238, 0.2));
}

.ui-dialog-titlebar{
	background: linear-gradient(rgba(170,170,238, 0.2), rgba(170,170,238, 0.6));
}

.ui-datatable-header {
	background: linear-gradient(rgba(170,170,238, 0.2), rgba(170,170,238, 0.6));
}

.bgRibbon{
	background: linear-gradient(rgba(170,170,238, 0.2), rgba(170,170,238, 0.6));
}

